* {
    margin: 0;
    padding: 0;
}

header {
    background: black;
    height: 75px;
    line-height: 75px;
    width: 100%;

    .menu {

        display: flex;
        flex-direction: row;
        justify-content: center;

        li {

            color: white;
            margin-left: 20px;
            margin-right: 20px;
            list-style: none;

            a {
                background-color: white;
                color: black;
                border: 2px solid #4CAF50;
                padding: 10px 20px;
                text-decoration: none
            }
        }
    }
}

.green_btn {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 1%;
}

.errors_wrapper{
    ul li{
        font-size: 20px;
        color: red;
    }
}

.admin_content_wrapper {
    @mixin input-style($width: 25%) {
        width: $width;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid black;
        border-radius: 5px;
    }
    // Naming section in apanel(center h1 text)
    .section_name{
        margin-top: 2%;
        font-size: 20px;
        color: #35393d;
        text-align: center;
    }

    // Start edit, create form styles
    .creation_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3%;

        input{
            @include input-style(30%)
        }
        textarea{
            outline: none;
            width: 50%;
            height: 40vh;
            border: 2px solid #35393d;
            border-radius: 2px;
            padding: 5px;
        }
        label{
            margin: 15px;
            font-size: 16px;
            color: #35393d;
        }
    }
    // End edit, create form styles

    // login styles

    .login_form {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .error_block {
            p {
                color: red;
                font-size: 20px;
            }
        }

        h1 {
            color: #35393d;
            display: block;
            margin-bottom: 3%;
        }

        input {
            @include input-style()
        }

    }

    // end login styles
    // Apanel styles
    .apanel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            margin-top: 1%;
            list-style: none;
            border: 2px solid rgb(234, 170, 2);
            padding: 4px;
            width: 50%;
            &:before{
                content: "📌 ";
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: #0664B0;
                font-size: 20px;
            }
        }
    }

    // End apanel styles
}
