/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

     // .wrapper .container header {
  //       background: purple;
  //   }
  //@import "./base_adaptive.scss";
} 

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1ем280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

     // .wrapper .container header {
  //       background: orange;
  //   }
  //@import "./base_adaptive.scss";
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  // .wrapper .container header {
  //       background: yellow;
  //   }

    @import "./base_adaptive.scss";

    .wrapper .container {
        header {
          justify-content: space-around;
            .info {
                .small {
                    font-size: 16px;
                }

                .big {
                    font-size: 20px;
                }
            }
            .flag{
              width: 30%;
            }
            .logo{
              width: 30%;
            }
        }
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .wrapper .container header {
        background: white;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .wrapper .container header {
        background: green;
    }

    @import "./base_adaptive.scss"

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    @import "./base_adaptive.scss"
}
