@charset "UTF-8";
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1ем280px
*/
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .blockTitle {
    color: white;
  }

  .wrapper .container {
    width: 100%;
    margin: 0;
  }
  .wrapper .container header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrapper .container header .menu-container {
    display: block;
  }
  .wrapper .container header .info {
    width: 100%;
    order: 3;
  }
  .wrapper .container header .info .big {
    font-size: 12px;
    text-align: center;
  }
  .wrapper .container header .info .small {
    font-size: 10px;
    text-align: center;
  }
  .wrapper .container header .info p {
    display: block;
    margin-bottom: 3%;
    text-align: center;
    font-size: 15px;
  }
  .wrapper .container header .logo {
    order: 1;
    width: 40%;
    height: 80%;
  }
  .wrapper .container header .logo img {
    width: 100%;
    height: 100%;
  }
  .wrapper .container header .flag {
    width: 40%;
    order: 2;
  }
  .wrapper .container header .flag img {
    width: 100%;
    height: 100%;
  }
  .wrapper .container .content-wrapper #sidebar {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .wrapper .container .content-wrapper #sidebar.active {
    display: block;
  }
  .wrapper .container .content-wrapper #content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .wrapper .container .content-wrapper #content .slider {
    width: 90%;
  }
  .wrapper .container .content-wrapper #content .slider .slick-dots {
    left: 65%;
    width: 80px;
  }
  .wrapper .container .content-wrapper #content .ataman_wrapper #questionTitle {
    padding: 0;
    width: 90%;
    color: white;
  }
  .wrapper .container .content-wrapper #content .ataman_wrapper .questions .answer .attachments .attachment img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .wrapper .container .content-wrapper #content .article {
    width: 95%;
  }
  .wrapper .container .content-wrapper #content .article h1 {
    font-size: 1em;
  }
  .wrapper .container .content-wrapper #content .article .attachments .attachment {
    margin: 4% auto;
  }
  .wrapper footer {
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
  .wrapper footer h1 {
    font-size: 10px;
  }

  .wrapper .container header {
    justify-content: space-around;
  }
  .wrapper .container header .info .small {
    font-size: 16px;
  }
  .wrapper .container header .info .big {
    font-size: 20px;
  }
  .wrapper .container header .flag {
    width: 30%;
  }
  .wrapper .container header .logo {
    width: 30%;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .wrapper .container header {
    background: white;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .wrapper .container header {
    background: green;
  }

  .blockTitle {
    color: white;
  }

  .wrapper .container {
    width: 100%;
    margin: 0;
  }
  .wrapper .container header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrapper .container header .menu-container {
    display: block;
  }
  .wrapper .container header .info {
    width: 100%;
    order: 3;
  }
  .wrapper .container header .info .big {
    font-size: 12px;
    text-align: center;
  }
  .wrapper .container header .info .small {
    font-size: 10px;
    text-align: center;
  }
  .wrapper .container header .info p {
    display: block;
    margin-bottom: 3%;
    text-align: center;
    font-size: 15px;
  }
  .wrapper .container header .logo {
    order: 1;
    width: 40%;
    height: 80%;
  }
  .wrapper .container header .logo img {
    width: 100%;
    height: 100%;
  }
  .wrapper .container header .flag {
    width: 40%;
    order: 2;
  }
  .wrapper .container header .flag img {
    width: 100%;
    height: 100%;
  }
  .wrapper .container .content-wrapper #sidebar {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .wrapper .container .content-wrapper #sidebar.active {
    display: block;
  }
  .wrapper .container .content-wrapper #content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .wrapper .container .content-wrapper #content .slider {
    width: 90%;
  }
  .wrapper .container .content-wrapper #content .slider .slick-dots {
    left: 65%;
    width: 80px;
  }
  .wrapper .container .content-wrapper #content .ataman_wrapper #questionTitle {
    padding: 0;
    width: 90%;
    color: white;
  }
  .wrapper .container .content-wrapper #content .ataman_wrapper .questions .answer .attachments .attachment img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .wrapper .container .content-wrapper #content .article {
    width: 95%;
  }
  .wrapper .container .content-wrapper #content .article h1 {
    font-size: 1em;
  }
  .wrapper .container .content-wrapper #content .article .attachments .attachment {
    margin: 4% auto;
  }
  .wrapper footer {
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
  .wrapper footer h1 {
    font-size: 10px;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .blockTitle {
    color: white;
  }

  .wrapper .container {
    width: 100%;
    margin: 0;
  }
  .wrapper .container header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrapper .container header .menu-container {
    display: block;
  }
  .wrapper .container header .info {
    width: 100%;
    order: 3;
  }
  .wrapper .container header .info .big {
    font-size: 12px;
    text-align: center;
  }
  .wrapper .container header .info .small {
    font-size: 10px;
    text-align: center;
  }
  .wrapper .container header .info p {
    display: block;
    margin-bottom: 3%;
    text-align: center;
    font-size: 15px;
  }
  .wrapper .container header .logo {
    order: 1;
    width: 40%;
    height: 80%;
  }
  .wrapper .container header .logo img {
    width: 100%;
    height: 100%;
  }
  .wrapper .container header .flag {
    width: 40%;
    order: 2;
  }
  .wrapper .container header .flag img {
    width: 100%;
    height: 100%;
  }
  .wrapper .container .content-wrapper #sidebar {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .wrapper .container .content-wrapper #sidebar.active {
    display: block;
  }
  .wrapper .container .content-wrapper #content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .wrapper .container .content-wrapper #content .slider {
    width: 90%;
  }
  .wrapper .container .content-wrapper #content .slider .slick-dots {
    left: 65%;
    width: 80px;
  }
  .wrapper .container .content-wrapper #content .ataman_wrapper #questionTitle {
    padding: 0;
    width: 90%;
    color: white;
  }
  .wrapper .container .content-wrapper #content .ataman_wrapper .questions .answer .attachments .attachment img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .wrapper .container .content-wrapper #content .article {
    width: 95%;
  }
  .wrapper .container .content-wrapper #content .article h1 {
    font-size: 1em;
  }
  .wrapper .container .content-wrapper #content .article .attachments .attachment {
    margin: 4% auto;
  }
  .wrapper footer {
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
  .wrapper footer h1 {
    font-size: 10px;
  }
}